[00BuildExperiment]
well_pattern = _[A-Z]{1}[0-9]{2}_
raw_ch_pattern = C[0-9]{2}O.*_ILC-OVR.tif
mask_ending = MASK
base_dir_raw = /path/to/gliberal-scMultipleX/resources/scMultipleX_testdata
base_dir_save = /path/to/scmultiplex
spacing = 0.6,0.216,0.216
overview_spacing = 0.216,0.216

round_names = R0,R1

[00BuildExperiment.round_R0]
name = R0
nuc_ending = NUC_SEG3D_azurite
mem_ending = MEM_SEG3D
mip_ovr_name = ILC_OVR_MIP
org_seg_name = obj_v0.3
root_dir = ${00BuildExperiment:base_dir_raw}/R0
fname_barcode_index = 3
organoid_seg_channel = C01
nuclear_seg_channel = C01
membrane_seg_channel = C04

[00BuildExperiment.round_R1]
name = R1
nuc_ending = ${00BuildExperiment.round_R0:nuc_ending}
mem_ending = ${00BuildExperiment.round_R0:mem_ending}
mip_ovr_name = ${00BuildExperiment.round_R0:mip_ovr_name}
org_seg_name = ${00BuildExperiment.round_R0:org_seg_name}
root_dir = ${00BuildExperiment:base_dir_raw}/R1
fname_barcode_index = ${00BuildExperiment.round_R0:fname_barcode_index}
organoid_seg_channel = ${00BuildExperiment.round_R0:organoid_seg_channel}
nuclear_seg_channel = ${00BuildExperiment.round_R0:nuclear_seg_channel}
membrane_seg_channel = ${00BuildExperiment.round_R0:membrane_seg_channel}


[01FeatureExtraction]
excluded_plates = day2
excluded_wells = A03
iop_cutoff = 0.6
measure_morphology = True

[02OrganoidLinking]
iou_cutoff = 0.2

